* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #9e5cb6;
    color: rgb(242, 236, 244);
    padding: 15px 15px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background-color: white;
    padding: 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #8834a7;
    box-shadow: 0 4px 8px #9e5cb6;
}

.radio-group {
    margin-top: 8px;
}

.radio-group input {
    width: auto;
    margin-right: 5px;
}

.radio-group label {
    display: inline;
    margin-right: 10px;
    font-weight: normal;
}

.checkbox-group {
    margin-top: 8px;
}

.checkbox-group input {
    width: auto;
    margin-right: 5px;
}

.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
}

button {
    background-color: #474752;
    color: white;
    font-size: medium;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #9e5cb6;
}