*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}  

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 450px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}

#card1{
    z-index: 4;
    transform: translate(-50%, -50%);
    background-color: salmon;
}

#card2{
    z-index: 3;
    transform: translate(-50%, -50%) rotate(-10deg);
    background-color: blue;
}

#card2:hover{
    z-index: 5;
}

#card3{
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-20deg);
    background-color: green;
}

#card3:hover{
    z-index: 5;
}

#card4{
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-30deg);
    background-color: yellow;
}

#card4:hover{
    z-index: 5;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}